@font-face {
  font-family: "epilogue";
  src: url(fonts/Epilogue-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "epilogue-bold";
  src: url(fonts/Epilogue-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "epilogue-semibold";
  src: url(fonts/Epilogue-SemiBold.ttf) format("truetype");
}

:root {
  --primary: #78a2cc;
}

a {
  text-decoration: none;
  color: var(--primary);
}

html {
  overflow-x: hidden;
  font-family: "epilogue";
}

h1 {
  padding-left: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.arrow {
  width: 2rem;
  padding-right: 1rem;
}

.button {
  color: var(--primary);
  font-size: 1.5rem;
  background-color: white;
  border: none;
}

.button:hover {
  opacity: 0.5;
}

.clickable_text {
  cursor: pointer;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}
.txt_bold {
  color: var(--primary);
}

.nav {
  border-top: 2px black solid;
  height: 4vh;
  margin-left: -5%;
  padding-left: 5%;
  justify-content: space-evenly;
  width: 100vw;
  display: flex;
  margin-bottom: 1rem;
  position: fixed;
  bottom: 0px;
}

.nav a {
  font-size: 1.5rem;
  margin: 1rem;
}

.text {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr 2fr;
}

.nav-m {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding-right: 1rem;
    display: block;
  }

  .nav-m {
    display: block;
    text-align: end;
    font-size: 1.5rem;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #78a2ccf5;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .nav-m a {
    padding: 1rem 1rem 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    display: block;
    transition: 0.1s;
  }

  .nav-m .closebtn {
    top: 0;
    font-size: 3rem;
  }

  .nav {
    display: none;
  }
}
