@font-face {
  font-family: "epilogue";
  src: url(fonts/Epilogue-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "epilogue-bold";
  src: url(fonts/Epilogue-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "epilogue-semibold";
  src: url(fonts/Epilogue-SemiBold.ttf) format("truetype");
}

:root {
  --primary: #78a2cc;
}

a {
  text-decoration: none;
  color: var(--primary);
}

html {
  overflow-x: hidden;
  font-family: "epilogue";
}

h1 {
  padding-left: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.txt_bold {
  color: var(--primary);
}

.arrow {
  width: 2rem;
  padding-right: 1rem;
}

.button {
  color: var(--primary);
  font-size: 1.25rem;
  background-color: white;
  border: none;
}

.button:hover {
  opacity: 0.5;
}

.nav {
  border-top: 2px black solid;
  height: 4vh;
  margin-left: -5%;
  padding-left: 5%;
  justify-content: space-evenly;
  width: 100vw;
  display: flex;
  margin-bottom: 1rem;
}

.nav a {
  font-size: 1.5rem;
  margin: 1rem;
}

.text {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr 2fr;
}

.nav-m {
  display: none;
}

@media screen and (max-width: 700px) {
  .nav-m {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    border-top: 2px black solid;
    padding-top: 1rem;
    margin-left: -5%;
    padding-left: 5%;

  }
  .nav {
    display: none;
  }
}
