html {
  font-family: "epilogue";
}

ul {
  font-size: 1.5rem;
  list-style-image: url(../assets/arrow.png);
}

.text-last {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr 2fr;
  margin-bottom: 1rem;
}

.AboutContent {
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}
.about_text {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.about_img_container {
  position: relative;
  padding-right: 2rem;
}

.about_img {
  width: calc(400rem / 16);
  border-radius: 16px;
}

.title {
  margin: 2rem;
}

.subtitle {
  margin: 2rem;
}

@media screen and (max-width: 930px) {
  .AboutContent {
    display: block;
  }
  .about_img_container {
    display: flex;
    justify-content: center;
  }

  .about_img {
    width: 75%;
  }
}
