h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

img {
  width: 10rem;
  border-radius: 50%;
  margin-right: 3rem;
}

ul {
  padding-inline-start: 0;
}

.semi_v_nav {
  height: 80vh;
}

.exp_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 calc(36rem / 16);
  width: 100vw;
}

.job_des {
  font-size: 1.5rem;
}

.job_des li {
  margin: 2rem;
}

.job_main {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.line_seperate_v_less {
  border-left: 2px solid gray;
  height: 8rem;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: solid 4px #bfd4db;
  border-radius: 8px;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.year {
  color: #78a2cc;
  font-family: epilogue-bold;
}
.year:hover {
  color: #bfd4db;
}

.y2020,
.y2021,
.y2022,
.y2019 {
  display: none;
}

.c2022,
.s2023 {
  color: #bfd4db;
}

@media screen and (max-width: 700px) {
  .job_main {
    margin-bottom: 0;
  }

  .skills {
    display: block;
    text-align: center;
  }
}
