h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

img {
  width: 12rem;
  border-radius: 50%;
  margin-right: 3rem;
}

ul {
  padding-inline-start: 0;
}
.content {
  display: flex;
  margin-top: 1rem;
}

.exp_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
}

.job_des {
  font-size: 1.5rem;
}

.job_des li {
  margin: 2rem;
}

.job_main {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.line_seperate_v {
  border-left: 2px solid gray;
  height: 3rem;
}
.line_seperate_v_less {
  border-left: 2px solid gray;
  height: 8rem;
}
.semi_v_nav {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: solid 2px gray;
  border-radius: 8px;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.year {
  color: #78a2cc;
  font-family: epilogue-bold;
}
.year:hover {
  color: #bfd4db;
}

@media screen and (max-width: 700px) {
  .semi_v_nav {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .job_main {
    margin-bottom: 0;
  }

  .skills {
    display: block;
    text-align: center;
  }
}
