.arrow-break {
  padding-top: 1rem;
  visibility: hidden;
}

.buttons {
  padding-bottom: 1rem;
}

.button-display {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.name {
  border: none;
  border-bottom: 2px solid var(--primary);
  font-size: 1.25rem;
  width: 13rem;
}

.name:focus {
  outline: none;
}

.text {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr 2fr;
}

.op {
  display: none;
}
.two,
.three1,
.four,
.five,
.five1,
.end {
  display: none;
}

.three,
.five {
  opacity: 0;
}

.three {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: grid;
}
